# Purpose :
1. Partially clean the data for the books dataset (However the data is also cleaned in Node conversion and securtiy reasons) 
2. Add any nessary datapoints to the books dataset
3. Create Training Data from MySQL database

In [35]:
# The purpose of this script is to partially clean the data for the books dataset (However the data is also cleaned in Node conversion and securtiy reasons) )


import pandas as pd
import numpy as np
bookSourcePath ='Datasource/Original_Books.csv' 
df = pd.read_csv(bookSourcePath, index_col=0)
nonNullCols = ['book','author','description', 'numPages','format','genres','publication','rating']
nonSpecialChars = ['book']

In [36]:
# Clean strings to remove special Characters
for col in nonSpecialChars:
    df[col] = df[col].str.replace(r'\W',"") ## Don't think it's working still

In [37]:
# Cleaning All Null/empty values (That are nessarry to have)
for col in nonNullCols:
    df.dropna(subset = col, inplace=True)

In [38]:
# cleaning All rating that are NaN
df=df[df['rating'] != 'real'] # Got rid of too much

In [39]:
# adding id
df = df[1:100]
print(df)

                              book            series releaseNumber  \
1             The Name of the Rose               NaN           NaN
2        The Clan of the Cave Bear  Earth's Children             1
3                      Firestarter               NaN           NaN
4                           Cosmos               NaN           NaN
5              The Bourne Identity      Jason Bourne             1
..                             ...               ...           ...
103                     Red Dragon   Hannibal Lecter             1
104            Midnight's Children               NaN           NaN
105            Ramona Quimby Age 8            Ramona             6
106           A Light in the Attic               NaN           NaN
107  Chronicle of a Death Foretold               NaN           NaN

                     author  \
1               Umberto Eco
2              Jean M. Auel
3              Stephen King
4                Carl Sagan
5             Robert Ludlum
..                      ...
103          Thomas  Harris
104          Salman Rushdie
105          Beverly Cleary
106        Shel Silverstein
107  Gabriel García Márquez

                                           description  numPages  \
1    The year is 1327. Benedictines in a wealthy It...     536.0
2    This novel of awesome beauty and power is a mo...     512.0
3    The Department of Scientific Intelligence (aka...     564.0
4    The story of fifteen billion years of cosmic e...     384.0
5    Who is Jason Bourne? Is he an assassin, a terr...     566.0
..                                                 ...       ...
103  A second family has been massacred by the terr...     454.0
104  Saleem Sinai is born at the stroke of midnight...     647.0
105  Now that Ramona is eight-years-old, she's doin...     190.0
106  Last night while I lay thinking here \nSome Wh...     176.0
107  A man returns to the town where a baffling mur...     120.0

                    format                                             genres  \
1                Paperback  ['Fiction', 'Historical Fiction', 'Mystery', '...
2                Paperback  ['Historical Fiction', 'Fiction', 'Fantasy', '...
3    Mass Market Paperback  ['Horror', 'Fiction', 'Thriller', 'Science Fic...
4    Mass Market Paperback  ['Science', 'Nonfiction', 'Physics', 'Astronom...
5                Paperback  ['Fiction', 'Thriller', 'Mystery', 'Suspense',...
..                     ...                                                ...
103              Hardcover  ['Horror', 'Fiction', 'Thriller', 'Crime', 'My...
104              Paperback  ['Fiction', 'Magical Realism', 'Classics', 'In...
105              Paperback  ['Childrens', 'Fiction', 'Middle Grade', 'Real...
106              Hardcover  ['Poetry', 'Childrens', 'Classics', 'Fiction',...
107              Paperback  ['Fiction', 'Classics', 'Magical Realism', 'Sc...

            publication rating  numberOfVoters
1       January 1, 1980   4.14          360732
2       January 1, 1980   4.09          264630
3    September 29, 1980   3.91          226270
4       January 1, 1980   4.39          144686
5      February 4, 1980   4.05          431083
..                  ...    ...             ...
103     October 1, 1981   4.06          328824
104      March 12, 1981   3.98          122382
105     January 1, 1981    4.1           71767
106     October 7, 1981   4.35          441639
107     January 1, 1981   3.97          187932

[99 rows x 11 columns]

In [40]:
df.to_csv("Datasource/first10s.csv")